* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

h1 {
  top: 0;
  position: relative;
  display: block;
  width: 100%;
}

ol,
ul {
  padding-left: 0;
}

li > button {
  width: 12rem;
}

#toggleOrder {
  margin-top: 10px;
  margin-bottom: -5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.currently-selected {
  font-weight: bold;
}

.reversed {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.reversed>li {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px; 
  padding: 0;
  text-align: center;
  width: 5rem;
  display: inline-block;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
}

.winning-square {
  background-color: yellow;
}

/* Responsive */

@media only screen and (max-width: 510px) {
  li > button {
    width: 100%;
    height: 2rem;
  }

  .game {
    display: block;
  }

  .game-info {
    margin-top: 10px;
    margin-left: 0;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 5rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 33%;
  }

  .winning-square {
    background-color: yellow;
  }
}